
body{
    background-image:url(beer_3.jpg);
    height: 100%; 
}

.main-div{
    margin: auto;
    text-align: center;
    color: white;
    margin-top: 100px;
 

}

.option{
    display:inline-block;

}

#btnBreweries , #btnBeers{
    display:inline-block;
    border-radius: 12px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    height:40px;
        
      
     
}

#btnBreweries:hover, #btnBeers:hover{
    background-color: #d4ac0d; 
    color: black;
  }


