
body{
    background-image:url(beer_3.jpg);
    height: 100%; 
}

.main-div{
    margin: auto;
    text-align: center;
    color: white;
    margin-top: 100px;
 

}

.option{
    display:inline-block;

}

#btnBreweries , #btnBeers{
    display:inline-block;
}

