.new-music{
    background-image:url("/assets/green_valley.jpg"); 
    height: 1300px;
    color:white;  
}
.text{
    float: right;
    margin-right: 400px;
    margin-top: 200px;
}

// iframe {
//     position: fixed;
//     bottom: 10px;
//     right: 10px;
// }